<div fxLayout="column" fxFill>
  <mat-toolbar>
    <div style="font-family: Consolas; font-size: 30px">
      <span style="color: #45aa21">Script</span>
      <span style="color: #66cabf">Maker</span>
    </div>

    <div
      style="
        margin-left: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
      "
    >
      <button mat-icon-button [matMenuTriggerFor]="mnuTheme">
        <mat-icon>format_color_fill</mat-icon>
      </button>

      <mat-menu #mnuTheme="matMenu">
        <button
          *ngFor="let theme of themes"
          mat-menu-item
          (click)="activeTheme = theme.value"
        >
          {{ theme.name }}
        </button>
      </mat-menu>

      <form [formGroup]="fileForm" style="margin-left: 20px ;">
        <mat-form-field class="example-full-width">
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="saveFile()">
          Download
        </button>
      </form>
    </div>
  </mat-toolbar>

  <div fxLayout fxFlex style="overflow: auto">
    <div fxFlex="50" style="overflow-y: auto; overflow-x: hidden">
      <form class="example-form" [formGroup]="ruleForm">
        <div
          class="rule"
          style="border-bottom: 1px solid #454545"
          *ngFor="let tkt of mg.controls; let mi = index"
          [formGroup]="tkt"
        >
          <div class="line">
            <div class="field">
              <mat-form-field class="example-full-width">
                <mat-label>Rule Type</mat-label>
                <mat-select
                  formControlName="ruleSetType"
                  (selectionChange)="ruleSetTypeSelected($event)"
                >
                  <mat-option
                    *ngFor="let params of ruleSetTypes"
                    [value]="params"
                    >{{ params }}</mat-option
                  >
                </mat-select>
                <!-- <input
                  type="text"
                  placeholder="Rule Type"
                  matInput
                  formControlName="ruleSetType"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #auto="matAutocomplete"
                  (optionSelected)="ruleSetTypeSelected($event)"
                >
                  <mat-option
                    *ngFor="let option of ruleSetTypesOptions | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete> -->
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  placeholder="Function Name"
                  aria-label="Number"
                  matInput
                  formControlName="funcName"
                  (blur)="createFunction(mi)"
                  (keypress)="pressEnter($event)"
                />
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  placeholder="Data Source"
                  aria-label="Number"
                  matInput
                  formControlName="dataSource"
                  (blur)="dataSourceAdded(mi)"
                />
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field>
                <mat-label>Data Type</mat-label>
                <mat-select
                  formControlName="dataType"
                  (selectionChange)="dataTypeSelected($event, mi)"
                >
                  <mat-option
                    *ngFor="let params of dataTypes"
                    [value]="params"
                    >{{ params }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div
            class="line"
            *ngFor="let ticket of getActionGroup(mi).controls; let i = index"
            [formGroup]="ticket"
          >
            <div class="field">
              <mat-form-field>
                <mat-label>Elements</mat-label>
                <mat-select
                  formControlName="element"
                  (selectionChange)="elementsSelected($event, mi, i)"
                >
                  <mat-option
                    *ngFor="let params of elements"
                    [value]="params.name"
                    >{{ params.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div
              class="field"
              *ngIf="
                attributes[mi] && attributes[mi][i] && attributes[mi][i].length
              "
            >
              <mat-form-field>
                <mat-label>Attributes</mat-label>
                <mat-select
                  formControlName="attribute"
                  (selectionChange)="attributesSelected($event, mi, i)"
                >
                  <mat-option
                    *ngFor="let params of attributes[mi][i]"
                    [value]="params"
                    >{{ params }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field>
                <mat-label>Actions</mat-label>
                <mat-select
                  formControlName="action"
                  (selectionChange)="actionSelected($event, mi, i)"
                >
                  <mat-optgroup
                    *ngFor="let group of actions"
                    [label]="group.name"
                  >
                    <mat-option
                      *ngFor="let action of group.actions"
                      [value]="action.value"
                    >
                      {{ action.viewValue }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  placeholder="Value"
                  aria-label="Number"
                  matInput
                  formControlName="staticValue"
                  (blur)="staticValueAdded(i, mi)"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="line">
            <div class="add-btn">
              <img
                alt=""
                src="../../assets/img/add-circle.png"
                class="atlas-measure-root-img"
                (click)="createActionsField(getActionGroup(mi))"
              />
            </div>
          </div>
        </div>
        <div class="rule">
          <div class="line">
            <button mat-raised-button color="primary" (click)="createFrom()">
              Create Function
            </button>
          </div>
        </div>
      </form>
    </div>
    <div fxFlex="50">
      <ng-container *ngIf="selectedModel">
        <mat-progress-bar
          *ngIf="isLoading$ | async"
          color="accent"
          mode="indeterminate"
        >
        </mat-progress-bar>
        <ngs-code-editor
          [codeModel]="selectedModel"
          [theme]="activeTheme"
          [options]="options"
          (valueChanged)="onCodeChanged($event)"
          (loaded)="onEditorLoaded()"
        >
        </ngs-code-editor>
      </ng-container>
    </div>
  </div>
</div>
